.header {
    width: 100%;
    height: auto;
    padding-top: 3.2rem;
    margin-bottom: 4rem;
}

.header__section {
    width: 100%;
    height: auto;
}

.header__section--text {
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid var(--color-light-divider);
    margin-bottom: 2rem;
}

.dark .header__section--text {
    border-bottom: 0.1rem solid var(--color-dark-divider);
}

.header__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-light-primary-text);
    margin-bottom: 0.4rem;
}

.dark .header__title {
    color: var(--color-dark-primary-text);
}

.header__total-followers {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: var(--color-light-secondary-text);
}

.dark .header__total-followers {
    color: var(--color-dark-secondary-text);
}

@media screen and (min-width: 576px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__section {
        flex-wrap: 0;
        flex-shrink: 0;
        width: auto;
    }

    .header__section--text {
        border: none;
        margin: 0;
        padding: 0;
    }

    .dark .header__section--text {
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .header__title {
        font-size: 2.8rem;
    }
}