.page {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--color-dark-bg);
    transition: background-color 150ms;
    padding-bottom: 4.6rem;
}

.light .page {
    background-color: var(--color-light-bg);
}

.page__container {
    width: 100%;
    height: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.page__pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24.4rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--color-dark-bg-pattern);
    transition: background-color 150ms;
}

.light .page__pattern {
    background-color: var(--color-light-bg-pattern);
}

@media screen and (min-width: 375px) {
    .page__container {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 576px) {
    .page__container {
        max-width: 576px;
    }
}

@media screen and (min-width: 768px) {
    .page__container {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .page__container {
        max-width: 992px;
    }
}

@media screen and (min-width: 1160px) {
    .page__container {
        max-width: 1160px;
    }
}