.social-media {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.4rem;
    background-color: var(--color-light-card);
    cursor: pointer;
}

.social-media:hover {
    background-color: var(--color-light-card-hover);
}

.dark .social-media {
    background-color: var(--color-dark-card);
}

.dark .social-media:hover {
    background-color: var(--color-dark-card-hover);
}

.social-media__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3.2rem;
    padding-bottom: 2.4rem;
}

.social-media__header--facebook {
    border-top: 0.4rem solid var(--color-facebook);
}

.social-media__header--twitter {
    border-top: 0.4rem solid var(--color-twitter);
}

.social-media__header--instagram {
    position: relative;
}

.social-media__header--instagram::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0.4rem;
    background: var(--color-instagram);
}

.social-media__header--youtube {
    border-top: 0.4rem solid var(--color-youtube);
}

.social-media__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}

.social-media__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.social-media__icon {
    width: 2rem;
    height: auto;
    margin-right: 0.8rem;
}

.social-media__user {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-light-secondary-text);
}

.dark .social-media__user {
    color: var(--color-dark-secondary-text);
}

.social-media__follower-number {
    font-size: 5.6rem;
    font-weight: 700;
    letter-spacing: -0.2rem;
    color: var(--color-light-primary-text);
}

.dark .social-media__follower-number {
    color: var(--color-dark-primary-text);
}

.social-media__follower-title {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--color-light-secondary-text);
}

.dark .social-media__follower-title {
    color: var(--color-dark-secondary-text);
}

.social-media__carret-icon {
    width: 0.8rem;
    height: auto;
    margin-right: 0.4rem;
}

.social-media__update {
    font-size: 1.2rem;
    font-weight: 700;
}

.social-media__update--increase {
    color: var(--color-lime-green);
}

.social-media__update--decrease {
    color: var(--color-bright-red);
}