.stat {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    background-color: var(--color-light-card);
    border-radius: 0.4rem;
}

.dark .stat {
    background-color: var(--color-dark-card);
}

.stat__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2.4rem;
}

.stat__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: auto;
}

.stat__name {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-light-secondary-text);
}

.dark .stat__name {
    color: var(--color-dark-secondary-text);
}

.stat__icon {
    width: 2rem;
    height: auto;
}

.stat__value {
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 700;
    color: var(--color-light-primary-text);
}

.dark .stat__value {
    color: var(--color-dark-primary-text);
}

.stat__update-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.stat__carret-icon {
    width: 0.8rem;
    height: auto;
    margin-right: 0.4rem;
}

.stat__update {
    font-size: 1.2rem;
    font-weight: 700;
}

.stat__update--increase {
    color: var(--color-lime-green);
}

.stat__update--decrease {
    color: var(--color-bright-red);
}